@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
.work-sans-font {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
* {
  /* margin: 0 auto; */
  text-decoration: none;
  list-style: none;
}
main {
  max-width: 1440px;
  margin: 0 auto;
}
main > section {
  margin-top: 150px;
}
/* hero section hear */
.hero {
  background-color: rgba(255, 144, 14, 0.1);
}

/* nav bar style start  hear */
.brand {
  font-size: 2.8rem;
}
.nav-bar {
  display: flex;
  max-width: 1920px;
  margin: 0 auto;
  /* border: 2px solid red; */
  justify-content: space-between;
  align-items: center;
}
.link {
  display: flex;
  /* border: 1px solid red; */
}
.nav-item {
  display: flex;
  margin-right: 2rem;
  /* display: flex; */
  /* border: 2px solid red; */
}
.item {
  margin-right: 70px;
  /* border: 1px solid red; */
}

ul a {
  color: rgb(66, 66, 66);
  font-family: Work Sans;
  font-size: 1rem;
  font-weight: 500;
}
/* font color hear */

/* dark-1 */
.text-color-1 {
  color: #131313;
}
.dark-2 {
  color: #ff900e1a;
}
.dark-3 {
  color: #727272;
}
/* nav bar end hear */

/* container section start hear */
.banner {
  max-width: 80%;
  margin: 0 auto;
}
.banner-content {
  /* border: 2px solid black; */
  max-width: 862px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 100px;
}
.banner-img {
  max-width: 100%;
}
.banner-title {
  font-weight: 700;
  font-size: 4rem;
}
.banner-description {
  font-size: 1rem;
  font-weight: 400;
  color: rgb(114, 114, 114);
}
.btn {
  width: 180px;
  height: 60px;
  color: white;
  background-color: rgb(255, 144, 14);
  border: none;
  border-radius: 8px;
  margin-top: 30px;
}
/* 1st page end hear */

/* 2nd page start hear */
.second-page {
  /* border: 2px solid rgb(29, 200, 140); */
  display: flex;
}
.image {
  /* border: 2px solid rgb(5, 1, 1); */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  /* padding: 10px; */
}
.content {
  /* border: 2px solid red; */
  max-width: 530px;
  margin-top: 200px;
  margin-left: 70px;
  margin-bottom: 200px;
}
.title-no-to {
  color: #727272;
  font-size: 2.8rem;
}
.our {
  color: #131313;
}
.future {
  color: rgb(255, 144, 14);
}

/* 2nd page end hear */

/* 3rd page start hear */
.third-head {
  /* border: 2px solid red; */
  max-width: 540px;
  min-height: 52px;
  margin-bottom: 100px;
}
.facts-container {
  /* border: 2px solid red; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.fact {
  border: 1px solid rgb(255, 144, 14);
  border-radius: 8px;
  max-width: 240px;
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.fact-number {
  font: size 2.8re;
  font-weight: 600;
}
/* 3rd page end hear */

/* <!-- Features you will love & enjoy section start --> */
.Features {
  display: flex;
  gap: 145px;
}
.Features-cart-title {
  
  margin-top: 0px;
  margin-bottom: 0 px;
 
}
#Features-section-title {
  border-left: 5px solid rgb(255, 144, 14);
  padding-left: 20px;
}
.cart {
  /* border: 2px solid red; */
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 20px;
}

#ten-year{
  
}


/* <!-- Features you will love & enjoy section end --> */

/* sponsors section start hear */
.sponsors-info {
  max-width: 540px;
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.our-compani {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}
.imge {
  filter: grayscale(100%);
}

/* sponsors section end hear */

/* footer section start hear */

footer {
  max-width: 1440px;
  min-height: 100px;
  margin: 0 auto;
  margin-top: 150px;
  background-color: rgb(255, 244, 231);
  /* border: 2px solid red; */
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  text-align: center;
}
.footer-description {
  color: rgb(66, 66, 66);
  font-weight: 500;
  font-size: 1.2rem;
}

/* footer section end hear */

/* mobile phone media */
@media screen and (max-width: 576px) {
  .nav-bar,
  .nav-item,
  .second-page {
    flex-direction: column;
  }
  .banner-title {
    font-size: 2rem;
  }
  .image,
  .facts-container,
  .our-compani {
    grid-template-columns: repeat(1, 1fr);
  }
  .our-compani {
    justify-items: center;
    gap: 40px;
  }
  .facts-container {
    justify-items: center;
  }
  .content {
    margin-left: 20px;
  }
}
/* tab media  */
@media screen and (min-width: 576px) and (max-width: 990px) {
  .second-page {
    flex-direction: column;
  }
}
